/* BUTTON 3 */

.three .button-wrap {
  width: 100px;
  height: 50px;
  margin: auto;
  cursor: pointer;
}
.three .button-bg {
  width: 100%;
  height: 100%;
  background-color: rgb(87, 76, 76);
  border-radius: 40px;
  padding: 3px;
  color: #fff;
  transition: all 0.2s ease;
}
.three .button-switch {
  position: relative;
  left: 0px;
  width: 44px;
  height: 44px;
  border: solid 13px;
  background-color: #fff;
  border-radius: 36px;
  transition: all 0.2s ease;
}
.three .button-active .button-switch {
  left: 50px;
}
.three .button-in,
.three .button-out {
  position: absolute;
  transition: all 0.2s ease;
  padding-top: 15px;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: bold;
}
.three .button-in {
  margin-left: 76px;
}
.three .button-out {
  margin-left: 18px;
}
.three .button-active .button-out {
}
.three .button-active .button-in {
}
.three .button-active .button-bg {
  background-color: #c6cac6;
}
